.square{
  width: 200px;
  height:200px;
  border: 1px solid red;
  font-size:30pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-style{
  width:70px;
  border-radius: 50px;
}